.controls {
    display: flex;
    flex-direction: column;
    justify-items: end;
    background-color: aquamarine;
    justify-self: end;
    align-items: center;
}

.control {
    background-color: black;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid white;
    border-radius: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.controlImage {
    width: 3rem;
    text-align: center;
}