.tabs {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.tab {
    flex-grow: 0;
    flex-shrink: 0;
    gap: .5rem;
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    margin-left: 1rem;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    box-shadow: -4px 4px 3px #00000030;
}



.tabDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    flex-basis: 3rem;
}

.inactiveTab {
    background: linear-gradient(90deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .6) 60%);
}

.activeTab {
    background: linear-gradient(134deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0) 70%);
}

.tab:hover {
    background: white;
}

.tabImage {
    max-width: 3rem;
    text-align: center;
}

.tabText {
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
    display: block;
    margin: 0;
    font-family: "DM-Sans";
    font-weight: 300;
    font-size: .8rem;
}