.button {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: #0086bf;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
}

.innerAside {
	margin: auto;
	flex-basis: 50%;
	font-size: 3rem;
	font-weight: bold;
	color: black;
	font-family: 'Electrolize';
	font-size: 7rem;
}

.innerAside strong {
	background-color: yellow;
}

html[data-theme=dark] .innerAside {
	color: white;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stack {
	position: relative;
	top: 0;
	left: 0;
	height: 300px;
}

.image1 {
	position: relative;
	top: 0;
	left: 0;
	width: calc(100% - 100px);
}

.image2 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: calc(100% - 100px);
}

.image3 {
	position: absolute;
	top: 100px;
	left: 100px;
	width: calc(100% - 100px);
}

.button {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: #0086bf;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
	text-align: center;
}

.logo {
	width: 15rem;
}

.explanation {
	font-size: 1.5rem;
	text-align: center;
}