.carouselContainer {
	display: flex;
	flex-direction: column;
}

.carouselWrapper {
	display: flex;
	position: relative;
}

.carouselContentWrapper {
	overflow: hidden;
	height: 100%;
}

.controls {
	display: flex;
	justify-content: full;
}

.leftArrow, .rightArrow {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: white;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
	text-align: center;
	flex-basis: 30rem;
	flex-grow: 1;
	flex-shrink: 1;
}

.show {
	position: relative;
	top: 0;
	left: 0;
	height: 40rem;
}

.hide {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	height: 40rem;
}

.inactive {
	color: #0086bf44;
}