# fdc3-maintainers will be default reviewers for everything in the repo unless a later match takes precedence
* @finos/fdc3-maintainers

# Any changes to this CODEOWNERS file should be reviewed by finos-admins
/.github/CODEOWNERS @finos/finos-admins
