# ignore files
*.md
*.html
*.yml
*.yaml
*.json

# ignore folders
website
dist
src/app-directory/*/target

# temporary, until Prettier is upgraded to at least v2.8, which supports the TS 'satisfies' syntax
src/**/IntentsConfiguration.ts
