.appDContent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.appDApps {
    flex-basis: 40rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 40rem;
    overflow-y: scroll;
    align-items: stretch;
    justify-content: stretch;
}

.appDApp {
    flex-basis: 7.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fafafa;
    border-radius: .5rem;
}

.appDApp:hover {
    background-color: #69451244;
}

.selected {
    background-color: #cdcdcd;
}

.appDDetail {
    flex-grow: 1;
    flex-basis: 40rem;
    background-color: #fafafa;
    overflow-y: scroll;
    max-height: 40rem;
}

.appDInfo {
    padding: 1rem;
    border-radius: .5rem;
}

.appDScreenshots {}

.appDScreenshots img {
    width: 100%;
    border-radius: .5rem;
}