:root{
  --ifm-color-primary-lightest: #00AEF8;
  --ifm-color-primary-lighter: #009ADC;
  --ifm-color-primary-light: #0093D2;
  --ifm-color-primary: #0086BF;
  --ifm-color-primary-dark: #0079AC;
  --ifm-color-primary-darker: #0072A2;
  --ifm-color-primary-darkest: #005E86;
  --ifm-font-weight-semibold: 300;
  --ifm-navbar-item-padding-horizontal: 0.5rem;
}

/** Buttons from Docusaurus v1 */

.button {
  border: 1px solid #0086bf;
  border-radius: 3px;
  color: #0086bf;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  margin: 10px;
  text-decoration: none!important;
  text-transform: uppercase;
  transition: background .3s,color .3s;
}

/** Theme header/footer */

html[data-theme='light'] {
  --ifm-navbar-background-color: #0086bf; 
  --ifm-navbar-link-color: #dddddd;
  --ifm-navbar-link-hover-color: #ffffff;
  --ifm-footer-background-color: #0086bf; 
  --ifm-footer-title-color: #ffffff;
  --ifm-footer-link-hover-color: #eeeeee;
  --ifm-footer-link-color: #dddddd;
}  

html[data-theme='light'] .footer-strap {
  font-weight: bold;
  color:  #ffffff;
}

html[data-theme='light'] .footer-copyright {
  color: #dddddd;
  font-size: smaller;
}

.dropdown__menu {
  background-color:  #009ADC;
}



.button:hover {
  background: #0086bf;
  color:#fff
}


/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

header.postHeader:empty {
    display: none;
  }
  
header.postHeader:empty + article h1 {
  margin-top: 0;
}

.imageAlignTop .blockImage {
  max-width: 220px;
}

.navbar {
  background: #0086bf;
  color: white;
}

.navbar a {
  color: white;
}


.productShowcaseSection .logos img {
  width: 200px;
}

.showcaseSection .logos img {
  width: 250px;
}

.showcase {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
}

.showcase img {
  max-width: 250px;
  max-height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.finos {
  padding-top: 30px; /* CHANGED 14 MAY 2019 */
  padding-bottom: 30px;
  text-align: center;
}

.userShowcase p {
  max-width: 60%;
}

/* CSS added 14 May 2019 */

.navigationSlider .slidingNav ul {
    /* DO NOT CHANGE - THIS IS THE NAVIGATION BACKGROUND - SHOULD STAY FINOS BLUE */
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  width: 100%;
}

.navigationSlider .slidingNav ul li a:hover {
  background: #0033A0;  /* DO NOT CHANGE - THIS IS THE NAVIGATION BACKGROUND - SHOULD STAY FINOS BLUE */

}

.inner img{
  width: 25%;
}

.homeContainer {
  background-image: url("/img/fdc3-background.png"); /* CHANGE THIS TO BACKGROUND LOGO PNG - THIS IS A SEMI-TRANSPARENT DOUBLE RENDERING OF THE LOGO ICON */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0086BF; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  text-align: center;
}

.homeContainer h2{
  color: #ffffff;
}

.homeContainer a{
  color: #ffffff;
}

.button {
  background: #0086bf44;
  border: 1px solid #ffffff;
}

.button.selected {
  background: #0086bf;
  color: #fff;
}

.button.selected:hover {
  background: #0086bf44;
  color: #0086bf;;
}

.mainContainer {
  padding: 40 0;
}

.blockImage img{
  fill: #ffffff;
}

.blockContent {
  margin: 40px 20px;
}
.blockContent h2{
  color:  #0086bf;  /* DO NOT CHANGE - THIS IS THE TITLE UNDER THE ICONS IN THE 3RD BLOCK - SHOULD STAY FINOS BLUE */
  text-align: center;
}


.featureShowcaseSection .logos img {
  width: 200px;
  
}

.featureShowcaseSection h2{
  color: #0033A0; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  font-size: 30px;
}

.featureShowcaseSection {
  background-color: var(--showcase-background); /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  padding-top: 10px;
  padding-bottom: 40px;
}

html[data-theme='light'] {
  --showcase-background: #F7F7F7;
}

html[data-theme='dark'] {
  --showcase-background: #232323;
} 

.surveyBanner {
  background-color: #F7F7F7; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
  padding-top: 10px;
  padding-bottom: 40px;
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
}

.CTA-image {
  width: 200px;
  flex: none;
}

.productShowcaseSection h2{
  color: #0033A0; /* CHANGE THIS TO PRIMARY PROJECT COLOR */
}


.finosBanner {
  background-color: #0086bf; /* DO NOT CHANGE - THIS IS THE FINOS BANNER BACKGROUND - SHOULD STAY FINOS BLUE */
  margin: 0 auto;
  padding: 0 0;
}

.finosBanner h2{
  color: #ffffff;
  font-size: 16px;
}

article p img,FeatureCallout
article iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.nav-footer {
  background-color: #0086bf;
}

.nav-footer .sitemap{
  margin: 0 auto 1em;
}

/* Implementations CSS added Apr 2021 */
.filters {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.implementations {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.implementation {
  margin: 6px 0px;
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  border-color: #0086bf;
  border-width: 3px;
  border-style: solid;
}
.implementation.hide {
  display: none;
}


.implementation-metadata {
  padding: 6px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0086bf;
  color: #ffffff
}
.title-and-publisher {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.title-and-publisher > .title, .title-and-publisher > .title > a {
  font-size: 24px;
  font-weight: 600;
  flex-basis: 100%;
  color: #ffffff;
}
.implementation-metadata > .type {
  font-size: 16px;
  font-weight: 600;
  flex-basis: content;
  font-variant-caps: small-caps;
}
.title-and-publisher > .publisher {
  font-size: 14px;
  font-weight: 400;
  font-variant-caps: small-caps;
  flex-basis: 100%;
}

.implementation-details > .implementation-image {
  padding-top: 6px;
  padding-bottom: 10px;
  object-fit: contain;
  flex-basis: 300px;
  margin-right: 6px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.implementation-details > .implementation-image img {
  max-width: 285px;
  max-height: 150px;
}

.implementation-details > .description {
  flex-shrink: 1;
  flex-grow: 1;
}
.implementation-details > .description > .prose {
  padding-left: 10px;
}
.implementation-details > .description > .infoLinks, .implementation-details > .description > .infoLinks > a  {
  font-size: 16px;
  font-weight: 600;
}
.implementation-details {
  padding: 6px 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 100%;
  align-items: stretch;
}
.implementation-details  > .description > .badges {
	padding-top: 10px;
}
.implementation-details  > .description > .badges > .badge {
	background-color: rgb(239, 239, 239);
	display: inline-block;
	border: 0px;
	margin-top: 5px;
	margin-right: 10px;
}


@media screen and (max-width: 736px) {
  .implementation-details {
    padding: 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
  }
  .implementation-details > img {
    align-self: center;
  }
}
@media screen and (min-width: 737px) {
  .implementation-details > .description {
    flex-basis: 300px;
  }
}

/* Conformance Added Dec 2022 */

.conformance {
  padding-left: 10px;
}

.conformance-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conformance-badge {
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 1;
}

.conformance-text {
  flex-basis: 500px;
  flex-grow: 1;
  flex-shrink: 5;
  color:rgb(90, 90, 90);
}

.front-conformance-logo {
  width: 240px;
  padding: 40px;
}


/* Get Involved */


.gridBlock {
  padding:0
}

.gridBlock > * {
  box-sizing:border-box
}

.gridBlock .fourByGridBlock img, .gridBlock .threeByGridBlock img, .gridBlock .twoByGridBlock img {
  max-width:100%
}

.gridBlock .gridClear {
  clear:both
}


@media only screen and (max-width: 735px) {
  .gridBlock .fourByGridBlock {
      flex:1 0 26%
  }
}

@media only screen and (min-width: 736px) {
  .gridBlock {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap
  }

  .gridBlock > * {
      margin:0 12px
  }

  .gridBlock > :first-child {
      margin-left:0
  }

  .gridBlock > :last-child {
      margin-right:0
  }

  .gridBlock .twoByGridBlock {
      flex:1 0 40%
  }

  .gridBlock .threeByGridBlock {
      flex:1 0 26%
  }

  .gridBlock .fourByGridBlock {
      flex:1 0 20%
  }

  h2 + .gridBlock {
      padding-top:20px
  }
}

@media only screen and (min-width: 1400px) {
  .gridBlock {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap
  }
}


/* index page formatting */


.promoSection {
  display: flex;
  flex-flow: column wrap;
  font-size: 125%;
  line-height: 1.6em;
  position: relative;
  z-index:99
}

.promoSection .promoRow {
  padding:10px 0
}

.promoSection .promoRow .pluginWrapper {
  display:block
}

.promoSection .promoRow .pluginWrapper.ghStarWrapper, .promoSection .promoRow .pluginWrapper.ghWatchWrapper {
  height:28px
}

.promoSection .promoRow .pluginRowBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:0 -2px
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper {
  padding:0 2px
}

.promoSection .promoRow .pluginRowBlock iframe {
  margin-left: 2px;
  margin-top:5px
}


