
html[data-theme='light'] {
    background-color: white;
}

html[data-theme='dark'] {
    background-color: black;
}

@font-face {
    src: url("/fonts/Electrolize-Regular.ttf");
    font-family: 'Electrolize'
}


@font-face {
    src: url("/fonts/Rokkitt-ExtraBold.ttf");
    font-family: 'Rokkitt';
    font-weight: 800;
}

@font-face {
    src: url("/fonts/Rokkitt-Medium.ttf");
    font-family: 'Rokkitt';
    font-weight: 400;
}

@font-face {
    src: url("/fonts/SpaceMono-Regular.ttf");
	font-family: 'Space-Mono'
}

.footer {
	background-color: #252525;
	border-top: 1px solid #aaa;
}

.footer__title,
.footer__link-item {
	color: #eee;
}