.animTypewriter {
	max-width: 36rem;
	font-family: Space-Mono;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
	animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{
  	width: 0;
  }
  to{
  	width: 50rem;
  }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}