.empty {
    flex-basis: 1rem;
    flex-grow: 1;
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-basis: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom-left-radius: 6px;
}

.logo {
    display: inline;
    background-color: white;
    text-align: right;
    flex-basis: 8rem;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: .5rem;
    border-bottom-right-radius: 6px;
}

.logoImage {
    display: inline;
    height: 1.5rem;
}


.logoTextThin {
    display: inline;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0;
}

.logoTextBold {
    display: inline;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    padding: .3rem;
}

.settingsControl {
    height: 1.3rem;

}