@font-face {
    font-family: "DM-Sans";
    src: url("DMSans_18pt-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "DM-Sans";
    src: url("DMSans_18pt-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "DM-Sans";
    src: url("DMSans_18pt-Light.ttf");
    font-weight: 300;
}