

.part {
	text-align: center;
	display: flex;
	flex-direction: column;	
	align-items: center;
	background-color: white;
	border-radius: 3rem;
}

.part img {
	max-width: 60%;
}


.strap {
	font-size: 3rem;
	font-family: "Rokkitt";
}

.button {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: white;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
}

.innerAside {
	flex-basis: 50%;
	color: black;
	font-family: 'Rokkitt';
	text-align: right;
}


.innerAside h2 {
	font-size: 8rem;
	font-weight: 800;
	font-family: "Rokkitt";
}

.innerAside p,
.title {
	font-size: 3rem;
	font-weight: 400;
	font-family: "Rokkitt";
}



html[data-theme=dark] .innerAside {
	color: white;
}
