.part {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: 3rem;
	font-family: "Rokkitt";
}

.part h1 {
	font-size: 5rem;
	font-family: "Rokkitt";	
	font-weight: 800;
}

.part img {
	width: 60%;
}

.strap {
	font-size: 3rem;
	font-family: "Rokkitt";
}

.button {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: white;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
}

.innerAside {
	color: black;
	font-family: 'Rokkitt';
	text-align: right;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" fill="%23fff"><ellipse rx="200px" ry="200px" cy="200" cx="200" /></svg>');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.innerAside h2 {
	font-size: 8rem;
	font-weight: 800;
	font-family: "Rokkitt";
	
	@media (max-width: 60rem) {
	 	font-size: 4rem;
	}
}

html[data-theme=dark] .innerAside h2,
html[data-theme=dark] .strap {
	color: black;
}

.innerAside p, .title {
	font-size: 3rem;
	font-weight: 400;
	font-family: "Rokkitt";
}

html[data-theme=dark] .innerAside {
	color: white;
}