# Omit the registry url which can be an organization's internal npm mirror when generating package-lock.json file
# see: https://github.com/npm/cli/pull/4874
# and https://docs.npmjs.com/cli/v8/using-npm/config#omit-lockfile-registry-resolved
omit-lockfile-registry-resolved = true