* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  min-height: 100vh;
  text-rendering: optimizeLegibility;

  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.fixedHeaderContainer {
  flex-shrink: 0;

  background: #0086bf;
  color: #fff;
  min-height: 50px;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transform: translateZ(0);
}

.wrapper {
  max-width: 1400px;

  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  text-align: left;
}

.fixedHeaderContainer a {
  align-items: center;
  border: 0;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
  height: 34px;
  z-index: 10000;

  text-decoration: none;
}

img {
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
}

.fixedHeaderContainer header img {
  height: 100%;
  margin-right: 10px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: block;
  font-size: 1.25em;
  line-height: 18px;
  margin: 0;
  position: relative;
  z-index: 9999;

  font-weight: 600;
}

.navigationSlider {
  height: 34px;
  margin-left: auto;
  position: relative;
}

nav.slidingNav {
  background: none;
  height: auto;
  position: relative;
  right: auto;
  top: auto;
  width: auto;

  bottom: auto;
  box-sizing: border-box;
  left: 0;
}

.slidingNav ul {
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  width: 100%;

  background: none;
  flex-flow: row nowrap;
  margin: 0;
}

.slidingNav ul li {
  flex: 1 1 auto;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.slidingNav ul li a {
  border: 0;
  display: flex;
  font-size: 1em;
  font-weight: 300;
  height: 32px;
  line-height: 1.2em;
  margin: 0;
  padding: 6px 10px;

  align-items: center;
  box-sizing: border-box;

  justify-content: center;

  transition: background-color 0.3s;
}

.slidingNav ul li a:hover {
  background: #0033a0;
}

/* conformance test style overrides */

.wrapper {
  max-width: initial;
}

.fixedHeaderContainer {
  position: static;
  margin-bottom: 5px;
  min-height: initial;
}

.jest-lite-report__errors,
jest-lite-report__result {
  white-space: pre-wrap;
}

.fdc3-conformance-error {
  color: #ff0000;
  padding: 5px;
  margin: 5px;
}

ul#mocha-stats {
  margin-top: 50px;
}
