.cta {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: #0086bf;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
}

.innerAside {
	margin: auto;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" fill="%23ace"><ellipse rx="200px" ry="200px" cy="200" cx="200" /></svg>');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	min-height: 450px;
}

.innerAside h2 {
	font-size: 8rem;
	font-weight: bold;
	font-family: 'Rokkitt';
	font-size: 7rem;
	
	@media (max-width: 60rem) {
	 	font-size: 4rem;
	}
}

html[data-theme=dark] .innerAside {
	color: white;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cta {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: #0086bf;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
	text-align: center;
}