.outer {
    font-family: "DM-Sans";
    background-color: #fff;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.left {
    position: fixed;
    left: 0;
    top: 3rem;
    width: 5rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    position: fixed;
    top: 3rem;
    bottom: 1rem;
    right: 1rem;
    left: 5rem;
    border-radius: .5rem;
    box-shadow: -4px 4px 3px #00000030;
    overflow-y: scroll;
}