:root{
  --ifm-color-primary-lightest: #00AEF8;
  --ifm-color-primary-lighter: #009ADC;
  --ifm-color-primary-light: #0093D2;
  --ifm-color-primary: #0086BF;
  --ifm-color-primary-dark: #0079AC;
  --ifm-color-primary-darker: #0072A2;
  --ifm-color-primary-darkest: #005E86;
}
