.conformanceShowcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
	justify-content: flex-start;
	max-width: 100rem;
}

.conformanceShowcase table {
	background-color: #ffffff99;
	
}

.conformanceShowcase td {
	min-width: 8rem;
}

.conformanceShowcaseItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.conformanceText {
    margin: 2rem;
}
