section.homeSection, 
section.homeSectionAlt {
	margin-top: 5rem;
	margin-bottom: 5rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	clip-path: polygon(0 3rem, 100% 0, 100% 100%, 0 calc(100% - 3rem));
}


section.homeSectionAlt {
	background-color: #ace;
	color: black;
}


div.innerFlex, 
div.innerFlexReverse {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	font-size: 1.5rem;
}

div.innerFlexReverse {
	flex-direction: row-reverse;
}


div.item {
	padding: 20px;
	flex-basis: 50%;
	min-width: 450px;
}

div.footerImage {
	width: 3rem;
	margin: auto;
	margin-top: 3rem;
}

div.callToAction {
	margin: 2rem auto;
	font-size: 2rem;
	text-align: center;
}