.title {
	font-family: 'Electrolize';
	font-size: 3rem;
}

.innerAside {
	color: black;
	line-height: 1.1;
	text-align: center;
}

.innerAside h2 {	
	font-weight: bold;
	font-family: 'Rokkitt';
	font-size: 8rem;
	
	@media (max-width: 60rem) {
	 	font-size: 4rem;
	}
}

.trainingList {
	display: flex;
	max-width: 1200px;
	margin: auto;
	gap: 2rem;
	flex-wrap: wrap;
}


html[data-theme=dark] .innerAside {
	color: white;
}

.trainingItem {
	display: flex;
	flex-direction: column;
	flex-basis: 15rem;
	flex-shrink: 0;
	flex-grow: 1;
	align-items: center;
}

.trainingItem h2 {
	height: 5rem;
}

.trainingImage  {
	margin-bottom: 2rem;
}


.cta {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: white;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
	text-align: center;
}