.grids {
    border-radius: .5rem;
    padding: .5rem;
}

.grid {
    cursor: cell;
    background-color: #FFFFFF22;
}

.grid>.grid-stack-item {
    z-index: 300;
}

/** Grid Content */

.content {
    top: 0;
    cursor: pointer;
}

.contentInner {
    top: .5rem;
    left: .5rem;
    right: .5rem;
    bottom: .5rem;
    position: absolute;
    background-color: #FFFFFF22;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: .25rem;
}

.contentTitle {
    position: absolute;
    top: 0;
    height: 2rem;
    left: 0;
    right: 0;
    display: flex;
    background-color: #FFFFFF55;
    gap: .3rem;
    padding-left: .2rem;
    padding-right: .2rem;
}

.contentBody {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}


/** Title Bar **/

.contentTitleText {
    flex-basis: 5rem;
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    padding: .4rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipses;
}

.contentTitleTextSpan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentTitleIcon {
    flex-basis: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 1rem;
}


/** Choose App */

.iframe {
    display: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}