.grids {
    border-radius: .5rem;
    padding: .5rem;
}

/** Grid Content */

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentInner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.contentTitle {
    display: flex;
    flex-direction: row;
    flex-basis: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #FFFFFF55;
    gap: .2rem;
}

.contentBody {
    flex-basis: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: magenta;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/** Title Bar **/

.contentTitleText {
    flex-basis: 5rem;
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    padding: .4rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipses;
}

.contentTitleTextSpan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentTitleIcon {
    flex-basis: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 1rem;
}


/** Choose App */

.contentChoose {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 5rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: aqua;
}

.contentChooseIcon {
    flex-basis: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    width: 2rem;
}

.contentChooseText {
    flex-basis: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    color: white;
    text-align: center;
    font-size: smaller;
}