textarea {
  width: 400px;
  height: 150px;
}

select {
  width: 150px;
  height: 24px;
}

.ctxInput {
  width: 241px;
  height: 24px;
}

.urlInput {
  width: 400px;
  height: 24px;
}

.header {
  width: 200px;
  height: 40px;
  font-weight: 700;
}
