section.nst {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

svg.text,
svg.logo {
	flex-basis: 20rem;
	flex-grow: 1;
	flex-shrink: 1;
}

@keyframes change {
	100% {
		stroke-dashoffset: 1000;
	}	
	0% {
		fill: white;
		stroke: black;
		stroke-dashoffset: 0;
	}
}

@keyframes change-dark {
	100% {
		stroke-dashoffset: 1000;
	}	
	0% {
		fill: black;
		stroke: white;
		stroke-dashoffset: 0;
	}
}

.st0,
.st1,
.st2,
._f,
._d,
._c,
._3 {
	animation-direction: normal;
	animation-duration: 4s;
	animation-name: change; 
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	fill: black;
	opacity: 1;
	stroke: black;
	stroke-width: 5px;
	stroke-dasharray: 1000;
}

.st1,
._f,
._d {
	animation-duration: 4.2s;
	animation-delay: .3s
}

.st2,
._3 {
	animation-duration: 3.5s;
}


.st0 {
	fill: #0054A6;
}

.st1 {
	fill: #5D93CD;
}

.st2 {
	fill: black;
}

html[data-theme=dark] .st2,
html[data-theme=dark] ._f,
html[data-theme=dark] ._d,
html[data-theme=dark] ._c,
html[data-theme=dark] ._3 {
  fill: white;	
}

html[data-theme=dark] .st0,
html[data-theme=dark] .st1,
html[data-theme=dark] .st2,
html[data-theme=dark] ._f,
html[data-theme=dark] ._d,
html[data-theme=dark] ._c,
html[data-theme=dark] ._3 {
  animation-name: change-dark; 
}

div.footerImage {
	width: 3rem;
	margin: auto;
}