.benefit {
	
}

.title {
	font-family: 'Electrolize';
	font-size: 3rem;
}

.innerAside {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ace"><path d="m22.66 10.25-8-7A1 1 0 0 0 13 4v3.03C3.56 7.54 1 15.33 1 20c0 1.05 1.42 1.39 1.89.45.67-1.34 3.92-5.05 10.11-5.42V18a1 1 0 0 0 1.66.75l8-7c.45-.4.45-1.11 0-1.51ZM15 15.8V14a1 1 0 0 0-1-1c-4.7 0-8.28 1.74-10.53 3.68C4.34 13.42 6.85 9 14 9a1 1 0 0 0 1-1V6.2l5.48 4.8L15 15.8Z"/></svg>');
	background-repeat: no-repeat;
	background-position: 0 40;
}

.innerAside h2 {
	font-weight: bold;
	font-family: 'Rokkitt';
	font-size: 8rem;
	line-height: 1.1;	
}

html[data-theme=dark] .innerAside {
	color: white;
}


.item h1 {
	height: 5rem;
	text-align: center;
	font-weight: 800;
	font-family: 'Rokkitt';
	font-size: 5rem;
}

.item h2 {
	text-align: center;
	font-weight: 400;
	font-family: 'Rokkitt';
	font-size: 2rem;
}
