.innerAside {
	flex-basis: 50%;
	font-weight: bold;
	color: black;
	font-family: 'Electrolize';
	font-size: 6rem;
	line-height: 1.1;
	text-align: center;
}

.showcaseOuter {
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 20px;
	padding: 20px;
}

.showcaseImage {
	margin-bottom: 10px;
	margin-top: 10px;
	max-height: 120px;
	max-width: 250px;
	padding-left: 15px;
	padding-right: 15px;
}

.button {
	background: #0086bf44;
	border: 1px solid #ace;
	border-radius: .5rem;
	color: #0086bf;
	display: inline-block;
	font-size: 1rem;
	line-height: 1.2em;
	margin: 1rem;
	padding: 1rem;
	text-decoration: none !important;
	transition: background .3s, color .3s;
	width: 15rem;
}
