body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.custom-tooltip {
    position: absolute;
    width: 150px;
    height: 70px;
    border: 1px solid cornflowerblue;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
}
.custom-tooltip.ag-tooltip-hiding {
    opacity: 0;
}
.custom-tooltip p {
    margin: 0.5rem;
    white-space: nowrap;
}
.custom-tooltip p:first-of-type {
    font-weight: bold;
}
.number {
    text-align: right;
}
.ag-row-level-0 {
    font-weight: bold;
}
.ag-row-level-1 {
    color: darkblue;
}
.ag-row-level-2 {
    color: darkgreen;
}
#quick-filter-box{
    border-radius: 0.5rem;
}
#quick-filter-box:focus{
    border-radius: 0.25rem;
    /* border-color: red!important; */
}
.container-quick-search {
    box-sizing: border-box;
    height: 100%;
}
.quick-search{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: var(--ag-background-color,#2d3436);
}
#myGrid {
    width: 100vw;
    overflow: auto
}
.gain {
    color: green
}
.loss {
    color: red;
}
.ag-status-bar {
    padding-bottom: 0.25rem;
}
.ag-status-bar-right {
    color: rgba(245, 245, 245, 0.64);
}
#clear-search {
    margin-left: 0.5rem;
}
button {
    background: #1c1f20;
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(245, 245, 245, 1);
}
